.error-page {
    min-height: 75vh;
    padding: 2rem 1rem;
}

.error-icon {
    font-size: 5rem;
    color: #c7c7c7;
}

@media (max-width: 768px) {
    .error-icon {
        font-size: 4rem;
    }
}


